<h2>Каталог</h2>
<div class="wrapper">
    {% for dog in catalog %}
        <div class="item">
            <form method="post">
                <img src="/img/{{ dog.image }}" alt="puppy" width="200">
                <h3>{{ dog.name }}</h3>
                <a href="/product/card/?id={{ dog.id }}">Подробнее...</a>
                <input hidden type="text" name="dog_id" value="{{ dog.id }}">
                <input type="submit" value="Купить">
            </form>
        </div>
    {% endfor %}
    <p><a href="/product/catalog/?page={{ page }}">ещё</a></p>
</div>